* {
  padding: 0px;
  margin: 5px;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template:
    "nav nav nav" 50px
    "leftMenu mainMenu mainMenu" 1fr
    "footer footer footer" 50px /
    150px 1fr 0.5fr;
}
li {
  list-style-type: none;
  text-size-adjust: none;
}
nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: [navLogo] 100px [searchBar] 100px [helpss] 100px;
}
nav .logo img {
  display: grid;
  grid-area: navLogo;
}
nav img.search {
  display: grid;
  grid-area: searchBar;
}
nav .helps ul {
  display: grid;
  grid-area: helpss;
  grid-template-columns: repeat(5, [listOfNav] 20px);
  grid-gap: 2px;

  height: 20px;
}
.nav .helps ul li img {
  display: grid;
  grid-area: listOfNav;
  display: grid;
  width: minmax(10px, 20px);
}
.leftMenu {
  width: 20%;
  height: 100vh;
  grid-area: leftMenu;

  display: grid;
  /* grid-template-rows:[compose listTodo meet hangouts starts details] 50px; */
  grid-template-areas:
    "compose"
    "listtodo"
    "meet"
    "hangouts"
    "starts"
    "details";
}
.leftMenu .compose {
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  display: grid;
  grid-area: compose;
}
.leftMenu .compose img {
  display: grid;
}
.leftMenu .listTodo {
  grid-area: listtodo;
  grid-template-rows: repeat(10, [listOfImg] 20px);
}

.leftMenu .listTodo ul {
  display: grid;
  grid-area: listOfImg;
}
.leftMenu .meet {
  display: grid;
  grid-area: meet;
}
.leftMenu .hangouts {
  display: grid;
  grid-area: hangouts;
}
.leftMenu .starts {
  display: grid;
  grid-area: starts;
}
.leftMenu .details {
  display: grid;
  grid-area: details;
}
.mainMenu {
  grid-area: mainMenu;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(10, [listMain] 50px);
}
.mainMenu ul li {
  display: grid;
  grid-area: listMain;
  grid-template-columns: [logos] 50px [topic] 0.5fr [details] 1fr [Ttime] 50px;
  grid-gap: 5px;
}
.mainMenu ul li nav {
  grid-area: logos;
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-gap: 2px;
}
.mainMenu ul li .topic {
  grid-area: topic;
  justify-content: center;
}
.mainMenu ul li p {
  grid-area: details;
  justify-content: center;
}
.mainMenu ul li time {
  grid-area: Ttime;
  justify-content: center;
}
footer {
  height: 50px;
}
